
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {{#each goals as |goal|}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <section data-id="{{goal.id}}" class="{{goal.status}}">
          <h6>Title:</h6>
          <h3>
            {{limit goal.title 15}}
          </h2>
          <h6>ID:</h6>
          <p>
            {{#if goal._id}}
              {{goal._id}}
            {{else}}
              No ID provided.
            {{/if}}
          </p>
          <h6>Description:</h6>
          <p>
            {{#if goal.description}}
              {{goal.description}}
            {{else}}
              No description provided.
            {{/if}}
          </p>
          <h6>Completed?:</h6>
          <p>
            {{#if goal.status}}
              {{goal.status}}
            {{else}}
              Not completed.
            {{/if}}
          </p>
          <button type="click" class="btn btn-danger delete-goal" data-id="{{goal._id}}">Delete</button>
          <button type="click" class="btn btn-primary completed-goal" data-id="{{goal._id}}">Complete</button>
        </section>
      </div>
      {{/each}}
      <div class="carousel-item"><h5>XXX</h5><h5>XXX</h5><h5>XXX</h5><h5>XXX</h5><h5>XXX</h5><h5>XXX</h5><h5>XXX</h5><h1>ADD MORE GOALS!</h1></div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Back</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  </div>
